/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
.container{
  font-size: 20px;
}
.left-div {
	display: inline-block;
	max-width: 150px;
	text-align: left;
	border-radius: 3px;
	margin: 15px;
	vertical-align: top;
}
.right-div {
  clear:both;
  float:right;
	display: inline-block;
	max-width: 900px;
	text-align: left;
	border-radius: 3px;
	margin: 15px;
}
.form_control{
  max-width: 30px
}
img{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
